backend/venv/
backend/__pycache__/
backend/routers/__pycache__/
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/out/
frontend/_next/
frontend/404.html
frontend/index.html
frontend/404/
frontend/__next.*.txt
frontend/tsconfig.tsbuildinfo
frontend/_not-found/
frontend/home/__next.*
frontend/home/index.html
frontend/home/index.txt
frontend/index.txt
frontend/.nojekyll
*.pyc
.env
.env.local
API_SPECIFICATION*.md
ERD.md

backend/media/*.mp4
frontend/public/*.mp4
